body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

#gallery {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.gallery-item:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 20px;
}

.img-item {
    width: 380px;
    height: 240px;
}